AircraftDataAnalysisService/AircraftDataAnalysisWinRT/Service References/AircraftService/AircraftService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlightDataEntities.Charts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlightDataEntities.Charts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45240/AircraftService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfChartPanel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChartPanel" nillable="true" type="tns:ChartPanel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChartPanel" nillable="true" type="tns:ArrayOfChartPanel" />
  <xs:complexType name="ChartPanel">
    <xs:sequence>
      <xs:element minOccurs="0" name="PanelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PanelName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ParameterIDs" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChartPanel" nillable="true" type="tns:ChartPanel" />
</xs:schema>