AircraftDataAnalysisModel1/AircraftDataAnalysisModel1.WinRT/Service References/AircraftDataInput/DataInputService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65214/DataInputService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlightDataEntities" />
  <xs:import schemaLocation="http://localhost:65214/DataInputService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FlightDataEntities.Decisions" />
  <xs:element name="AddOrReplaceFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="flight" nillable="true" type="q1:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrReplaceFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="AddOrReplaceFlightResult" nillable="true" type="q2:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExistsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="flight" nillable="true" type="q3:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExistsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteExistsDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDecisionRecordsBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="flight" nillable="true" type="q4:Flight" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FlightDataEntities.Decisions" minOccurs="0" name="records" nillable="true" type="q5:ArrayOfDecisionRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDecisionRecordsBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDecisionRecordsBatchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOneParameterValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="flight" nillable="true" type="q6:Flight" />
        <xs:element minOccurs="0" name="parameterID" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="reducedRecords" nillable="true" type="q7:ArrayOfLevel1FlightRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOneParameterValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOneParameterValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLevelTopFlightRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="flight" nillable="true" type="q8:Flight" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="topRecords" nillable="true" type="q9:ArrayOfLevelTopFlightRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLevelTopFlightRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLevelTopFlightRecordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlightRawDataRelationPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="flight" nillable="true" type="q10:Flight" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="flightRawDataRelationPoints" nillable="true" type="q11:ArrayOfFlightRawDataRelationPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlightRawDataRelationPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFlightRawDataRelationPointsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrReplaceFlightExtreme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="flight" nillable="true" type="q12:Flight" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="extremumPointInfo" nillable="true" type="q13:ArrayOfExtremumPointInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrReplaceFlightExtremeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrReplaceFlightExtremeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlightConditionDecisionRecordsBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FlightDataEntities" minOccurs="0" name="flight" nillable="true" type="q14:Flight" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FlightDataEntities.Decisions" minOccurs="0" name="records" nillable="true" type="q15:ArrayOfDecisionRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlightConditionDecisionRecordsBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFlightConditionDecisionRecordsBatchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>