AircraftDataAnalysisModel1/AircraftDataAnalysisModel1.WinRT/Service References/AircraftDataInput/DataInputService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlightDataEntities.Decisions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlightDataEntities.Decisions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDecisionRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DecisionRecord" nillable="true" type="tns:DecisionRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDecisionRecord" nillable="true" type="tns:ArrayOfDecisionRecord" />
  <xs:complexType name="DecisionRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="DecisionDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DecisionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DecisionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndSecond" type="xs:int" />
      <xs:element minOccurs="0" name="EventLevel" type="xs:int" />
      <xs:element minOccurs="0" name="FlightID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HappenSecond" type="xs:int" />
      <xs:element minOccurs="0" name="StartSecond" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DecisionRecord" nillable="true" type="tns:DecisionRecord" />
</xs:schema>