AircraftDataAnalysisService/AircraftDataAnalysisWinRT/Service References/AircraftDataInput/DataInputService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlightDataEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlightDataEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45240/DataInputService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:45240/DataInputService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aircraft" nillable="true" type="tns:AircraftInstance" />
      <xs:element minOccurs="0" name="EndSecond" type="xs:int" />
      <xs:element minOccurs="0" name="FlightID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartSecond" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:complexType name="AircraftInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="AircraftModel" nillable="true" type="tns:AircraftModel" />
      <xs:element minOccurs="0" name="AircraftNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUsed" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AircraftInstance" nillable="true" type="tns:AircraftInstance" />
  <xs:complexType name="AircraftModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUsed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AircraftModel" nillable="true" type="tns:AircraftModel" />
  <xs:complexType name="ArrayOfLevel1FlightRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Level1FlightRecord" nillable="true" type="tns:Level1FlightRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLevel1FlightRecord" nillable="true" type="tns:ArrayOfLevel1FlightRecord" />
  <xs:complexType name="Level1FlightRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndSecond" type="xs:int" />
      <xs:element minOccurs="0" name="FlightID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartSecond" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Values" nillable="true" type="q1:ArrayOffloat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Level1FlightRecord" nillable="true" type="tns:Level1FlightRecord" />
  <xs:complexType name="ArrayOfLevelTopFlightRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LevelTopFlightRecord" nillable="true" type="tns:LevelTopFlightRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLevelTopFlightRecord" nillable="true" type="tns:ArrayOfLevelTopFlightRecord" />
  <xs:complexType name="LevelTopFlightRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndSecond" type="xs:int" />
      <xs:element minOccurs="0" name="ExtremumPointInfo" nillable="true" type="tns:ExtremumPointInfo" />
      <xs:element minOccurs="0" name="FlightID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level2FlightRecord" nillable="true" type="tns:ArrayOfLevel2FlightRecord" />
      <xs:element minOccurs="0" name="ParameterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartSecond" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LevelTopFlightRecord" nillable="true" type="tns:LevelTopFlightRecord" />
  <xs:complexType name="ExtremumPointInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlightID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxValue" type="xs:float" />
      <xs:element minOccurs="0" name="MaxValueSecond" type="xs:float" />
      <xs:element minOccurs="0" name="MinValue" type="xs:float" />
      <xs:element minOccurs="0" name="MinValueSecond" type="xs:float" />
      <xs:element minOccurs="0" name="ParameterID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtremumPointInfo" nillable="true" type="tns:ExtremumPointInfo" />
  <xs:complexType name="ArrayOfLevel2FlightRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Level2FlightRecord" nillable="true" type="tns:Level2FlightRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLevel2FlightRecord" nillable="true" type="tns:ArrayOfLevel2FlightRecord" />
  <xs:complexType name="Level2FlightRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndSecond" type="xs:int" />
      <xs:element minOccurs="0" name="ExtremumPointInfo" nillable="true" type="tns:ExtremumPointInfo" />
      <xs:element minOccurs="0" name="FlightID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartSecond" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Level2FlightRecord" nillable="true" type="tns:Level2FlightRecord" />
  <xs:complexType name="ArrayOfFlightRawDataRelationPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightRawDataRelationPoint" nillable="true" type="tns:FlightRawDataRelationPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightRawDataRelationPoint" nillable="true" type="tns:ArrayOfFlightRawDataRelationPoint" />
  <xs:complexType name="FlightRawDataRelationPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="FlightDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlightID" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="Id" type="q2:ObjectId" />
      <xs:element minOccurs="0" name="XAxisParameterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XAxisParameterValue" type="xs:double" />
      <xs:element minOccurs="0" name="YAxisParameterID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YAxisParameterValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightRawDataRelationPoint" nillable="true" type="tns:FlightRawDataRelationPoint" />
  <xs:complexType name="ArrayOfExtremumPointInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtremumPointInfo" nillable="true" type="tns:ExtremumPointInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExtremumPointInfo" nillable="true" type="tns:ArrayOfExtremumPointInfo" />
</xs:schema>