AircraftDataAnalysisService/AircraftDataAnalysisWinRT/Service References/AircraftDataInput/DataInputService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataInputService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:45240/DataInputService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:45240/DataInputService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:45240/DataInputService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlightDataEntities" />
      <xsd:import schemaLocation="http://localhost:45240/DataInputService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FlightDataEntities.Decisions" />
      <xsd:import schemaLocation="http://localhost:45240/DataInputService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAircraftDataInput_AddOrReplaceFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrReplaceFlight" />
  </wsdl:message>
  <wsdl:message name="IAircraftDataInput_AddOrReplaceFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrReplaceFlightResponse" />
  </wsdl:message>
  <wsdl:message name="IAircraftDataInput_DeleteExistsData_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExistsData" />
  </wsdl:message>
  <wsdl:message name="IAircraftDataInput_DeleteExistsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExistsDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAircraftDataInput_AddDecisionRecordsBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDecisionRecordsBatch" />
  </wsdl:message>
  <wsdl:message name="IAircraftDataInput_AddDecisionRecordsBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDecisionRecordsBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IAircraftDataInput_AddOneParameterValue_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOneParameterValue" />
  </wsdl:message>
  <wsdl:message name="IAircraftDataInput_AddOneParameterValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOneParameterValueResponse" />
  </wsdl:message>
  <wsdl:message name="IAircraftDataInput_AddLevelTopFlightRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLevelTopFlightRecords" />
  </wsdl:message>
  <wsdl:message name="IAircraftDataInput_AddLevelTopFlightRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLevelTopFlightRecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAircraftDataInput">
    <wsdl:operation name="AddOrReplaceFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/IAircraftDataInput/AddOrReplaceFlight" message="tns:IAircraftDataInput_AddOrReplaceFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAircraftDataInput/AddOrReplaceFlightResponse" message="tns:IAircraftDataInput_AddOrReplaceFlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExistsData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAircraftDataInput/DeleteExistsData" message="tns:IAircraftDataInput_DeleteExistsData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAircraftDataInput/DeleteExistsDataResponse" message="tns:IAircraftDataInput_DeleteExistsData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDecisionRecordsBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IAircraftDataInput/AddDecisionRecordsBatch" message="tns:IAircraftDataInput_AddDecisionRecordsBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAircraftDataInput/AddDecisionRecordsBatchResponse" message="tns:IAircraftDataInput_AddDecisionRecordsBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOneParameterValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IAircraftDataInput/AddOneParameterValue" message="tns:IAircraftDataInput_AddOneParameterValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAircraftDataInput/AddOneParameterValueResponse" message="tns:IAircraftDataInput_AddOneParameterValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLevelTopFlightRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IAircraftDataInput/AddLevelTopFlightRecords" message="tns:IAircraftDataInput_AddLevelTopFlightRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAircraftDataInput/AddLevelTopFlightRecordsResponse" message="tns:IAircraftDataInput_AddLevelTopFlightRecords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAircraftDataInput" type="tns:IAircraftDataInput">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOrReplaceFlight">
      <soap:operation soapAction="http://tempuri.org/IAircraftDataInput/AddOrReplaceFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExistsData">
      <soap:operation soapAction="http://tempuri.org/IAircraftDataInput/DeleteExistsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDecisionRecordsBatch">
      <soap:operation soapAction="http://tempuri.org/IAircraftDataInput/AddDecisionRecordsBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOneParameterValue">
      <soap:operation soapAction="http://tempuri.org/IAircraftDataInput/AddOneParameterValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLevelTopFlightRecords">
      <soap:operation soapAction="http://tempuri.org/IAircraftDataInput/AddLevelTopFlightRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataInputService">
    <wsdl:port name="BasicHttpBinding_IAircraftDataInput" binding="tns:BasicHttpBinding_IAircraftDataInput">
      <soap:address location="http://localhost:45240/DataInputService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>