AircraftDataAnalysisModel1/AircraftDataAnalysisModel1.WinRT/Service References/AircraftService/AircraftService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65214/AircraftService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlightDataEntities" />
  <xs:import schemaLocation="http://localhost:65214/AircraftService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringArrayOfFlightRawDatazP_SRt7hC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringArrayOfFlightRawDatazP_SRt7hC" type="tns:KeyValuePairOfstringArrayOfFlightRawDatazP_SRt7hC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringArrayOfFlightRawDatazP_SRt7hC" nillable="true" type="tns:ArrayOfKeyValuePairOfstringArrayOfFlightRawDatazP_SRt7hC" />
  <xs:complexType name="KeyValuePairOfstringArrayOfFlightRawDatazP_SRt7hC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfFlightRawData" Namespace="http://schemas.datacontract.org/2004/07/FlightDataEntities" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlightDataEntities" name="value" nillable="true" type="q1:ArrayOfFlightRawData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringArrayOfFlightRawDatazP_SRt7hC" nillable="true" type="tns:KeyValuePairOfstringArrayOfFlightRawDatazP_SRt7hC" />
</xs:schema>